@{
    ViewBag.Title = "About";
}

<main aria-labelledby="title" style="padding: 20px;">

    <p style="font-size: 18px; color: #000000; line-height: 1.6;">
        "Добро пожаловать на сайт деканата! Мы рады приветствовать всех студентов, преподавателей и гостей нашего учебного заведения. Деканат является сердцем нашего университета, где мы стремимся обеспечить нашим студентам комфортное и продуктивное учебное окружение.

        Наши основные задачи - это поддержка студентов в достижении их учебных целей, оказание помощи в решении различных вопросов, связанных с учебным процессом, а также обеспечение качественного образования, соответствующего современным требованиям.

        На нашем сайте вы найдете полезную информацию о расписании занятий, академических программах, правилах и положениях, а также контактные данные наших специалистов, готовых помочь вам в любых вопросах.

        Мы призываем всех студентов активно использовать ресурсы деканата для максимального раскрытия своего потенциала и достижения успеха в учебе и карьере. Наша команда всегда готова поддержать вас на пути к вашим целям.

        С уважением,
        Деканат нашего университета".
    </p>
        <img class="picture_main" src="~/Resource/07561521072022_dccd37b247d0c4d1be55ce3469acfb5bc48ea7a0.jpg" />
</main>
